@page "/contact"

@{
    this.ViewBag.Title = "Contact Us";
}

<article>
    <h2>Contact Us</h2>

    <p>
        If you have any issues, please email us at support@pdfconverted.com.
    </p>

</article>
