@page "/terms"
@{
    this.ViewBag.Title = "Terms of Service";
}

@section Heads{ 
    <style>
        h5 {
            font-size: 20px;
            font-family: 'Work Sans', sans-serif;
            font-weight: 1;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .section-header {
            margin-bottom: 60px;
        }

        ul li {
            list-style: unset;
            margin-left: 11px;
        }

        .bor-der-left {
            margin-top: 20px;
            border-left: 3px solid #4cb5fd;
            margin-bottom: 20px;
        }

            .bor-der-left p {
                padding-left: 15px;
                color: #424448;
                font-family: 'Work Sans', sans-serif;
            }

        .section-header .section-title {
            font-weight: 1
        }
    </style>
}

<div class="section-header">
    <h2 class="section-title sec-ti sec-ter wow fadeIn animated" style="visibility: visible;"><img src="/images/icon.png" style="margin-right: 20px; font-family: 'Montserrat', sans-serif;">Terms of use</h2>

</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="content-left">
            <h5>Terms of Service</h5>
            <p>
                We may periodically update or amend any of the terms in this agreement. Changes will immediately become effective upon posting the revised Terms of Service and End-User License Agreement on our website. If you do not wish to accept the amended agreement, you must cancel your access to our products. Continued use of our software accessed through the website in your personal account constitutes your acceptance of the terms of the modified agreement.
            </p>




            <h5>Age Requirement</h5>
            <p>
                You must be at least 13 years of age to access or use our website. If you are not 13-years-old, please have your parent or legal guardian use the website after they have reviewed and discussed this agreement with you.
            </p>

            <h5>Disclaimer of Warranty</h5>
            <p>
                We MAKES NO REPRESENTATION OR WARRANTIES WITH RESPECT TO THE WEBSITE. THE WEBSITE AND ALL INFORMATION, CONTENT, MATERIALS, AND SOFTWARE ARE PROVIDED TO YOU AS IS AND AS AVAILABLE. TO THE FULLEST EXTENT PERMITTED BY LAW, We DISCLAIMS ALL WARRANTIES AND CONDITIONS, LEGAL, EXPRESSED OR IMPLIED, BY OPERATION OF LAW OR OTHERWISE.
            </p>

            <h5>LIMITATION OF LIABILITY</h5>
            <p>TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, Our company AND ITS AFFILIATES AND SUBSIDIARIES SHALL NOT BE LIABLE FOR LOSS OF OR DAMAGE TO PROPERTY, LOSS OF DATA, LOSS OF INCOME, FAILURE OF PERFORMANCE, AND GOODWILL.</p>

            <h5>Indemnification by You</h5>
            <p style="margin-bottom:20px;">To the fullest extent permitted by law, you agree to defend and hold harmless our website from and against any and all claims, losses, charges, costs, and liability that may arise from your use of our software service.</p>
        </div>
    </div>


</div>