@page
@{
    var title = this.texts.GetText("DjvuViewer_Title");
    this.ViewBag.Title = title;
}
<h1>Welcome to @title</h1>
<p>@this.texts.GetText("DjvuViewer_Description")</p>

<div class="text-center">
    <div id="sp-0" class="sp sp-wide">
        <p class="text-right"><span>@this.texts.GetText("SponsoredLink")</span></p>

        <div class="sp-container">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> <!-- 728 x 90 --> <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-6475235154742772" data-ad-slot="1982829070"></ins>
            <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        </div>
    </div>
</div>

<h3><i class="fa fa-lock"></i> Safety first!</h3>
<p> You care about privacy. We care about privacy. That's why all the data sending to our server are only keep within the processing and deleted immediately after. Check out our privacy policy for more information. </p>
<h3><i class="fa fa-random"></i> Any operating system works</h3>
<p> Our game tools work for all computers - the operating system you use doesn't matter. You can use our service even if you're using MacOS. </p>
<h3><i class="fa fa-cloud"></i> All in the cloud</h3>
<p> Our servers in the cloud help you to get access to game tools and you don't need to install anything on your computer. Isn't that great? This is a totally free online service. </p>

<hr />

<p class="text-center">
    <a class="btn btn-primary btn-lg" href="/djvu-viewer">
        <span>Free DjVu Viewer</span>
    </a>
</p>

<div class="text-center">
    <div id="sp-0" class="sp sp-wide">
        <p class="text-right"><span>@this.texts.GetText("SponsoredLink")</span></p>

        <div class="sp-container">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> <!-- 728 x 90 --> <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-6475235154742772" data-ad-slot="1982829070"></ins>
            <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        </div>
    </div>
</div>